/* ===== Reset & Fonts ===== */
body{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #f8f5fa;
}

/* ===== Navbar ===== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #462255;
  padding: 15px 40px;
}

.logo {
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.navbar a:hover {
  color: #d8b4e2;
}

/* ===== Hero Section ===== */
.hero {
  background-color: #462255;
  color: white;
  padding: 80px 10%;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.hero-text {
  flex: 1;
  max-width: 600px;
}

.hero-text h1 {
  font-size: 2.8rem;
}

.hero-text h1 span {
  color: #d8b4e2;
}

.hero-text h2 {
  font-weight: 400;
  margin: 10px 0;
}

.hero-text p {
  margin-bottom: 20px;
  line-height: 1.6;
}

.btn {
  background-color: #d8b4e2;
  color: #462255;
  padding: 10px 25px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.btn:hover {
  background-color: white;
  color: #462255;
}

/* ===== Hero Image ===== */
.hero-img img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid #d8b4e2;
  object-fit: cover;
}
/* About Me */
.text-container h1{
    font-size: 28px;
    Font weight: bold;
    Color: #444444 ;
    padding: 10px 25px;
    margin-bottom: 15px ;
}
.text-container p{
    font-size: 18px ;
    line-height: 1.5;
    color: #555555 ;
    max-width:800px;
    padding: 10px 25px;
    margin-bottom: 20px;
}
/* Skill */
.text-container h4{
  color: #555555 ;
    padding: 10px 25px;
    margin-bottom: 20px;
}
.text-container img{
  padding: 30px;
}